@font-face {
  font-family: "Geologica";
  src: url("./assets/fonts/Geologica-Regular.ttf");
}

@font-face {
  font-family: "KappaTextLight";
  src: url("./assets/fonts/KappaTextLight.ttf");
}

@font-face {
  font-family: "KappaTextRegular";
  src: url("./assets/fonts/KappaTextRegular.ttf");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
